In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [3]:
# Test openweatherAPI
city = 'san diego'
target_url = ('http://api.openweathermap.org/data/2.5/weather?q={0}&appid={1}&units=imperial').format(city, weather_api_key)
response = requests.get(target_url).json()
print(response)

{'coord': {'lon': -117.16, 'lat': 32.72}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 55.38, 'feels_like': 51.48, 'temp_min': 52, 'temp_max': 60.8, 'pressure': 1020, 'humidity': 67}, 'visibility': 10000, 'wind': {'speed': 4.7, 'deg': 160}, 'clouds': {'all': 90}, 'dt': 1605357593, 'sys': {'type': 1, 'id': 5771, 'country': 'US', 'sunrise': 1605363509, 'sunset': 1605401286}, 'timezone': -28800, 'id': 5391811, 'name': 'San Diego', 'cod': 200}

In [4]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

584

In [5]:
#API calls

counter = 0
city_number = 1

cities_pd = pd.DataFrame()
cities_pd['City'] = ''
for city in cities:
    target_url = ('http://api.openweathermap.org/data/2.5/weather?q={0}&appid={1}&units=imperial').format(city, weather_api_key)
    response = requests.get(target_url).json()
    time.sleep(1)
    try:
        cities_pd.loc[counter, 'City'] = response['name']
        print(f'Processing Record {city_number} of Set 1 | {city}')
        city_number = city_number + 1
        counter = counter + 1
    except:
        print(f'No data for {city} found!')
        city_number = city_number + 1

Processing Record 1 of Set 1 | okmulgee
Processing Record 2 of Set 1 | punta arenas
Processing Record 3 of Set 1 | sault sainte marie
Processing Record 4 of Set 1 | puerto ayora
Processing Record 5 of Set 1 | rovaniemi
Processing Record 6 of Set 1 | margate
Processing Record 7 of Set 1 | bluff
No data for illoqqortoormiut found!
Processing Record 9 of Set 1 | hermanus
Processing Record 10 of Set 1 | yellowknife
Processing Record 11 of Set 1 | port alfred
Processing Record 12 of Set 1 | ushuaia
Processing Record 13 of Set 1 | hobyo
Processing Record 14 of Set 1 | lanzhou
Processing Record 15 of Set 1 | pasni
Processing Record 16 of Set 1 | kapaa
Processing Record 17 of Set 1 | upernavik
Processing Record 18 of Set 1 | hobart
Processing Record 19 of Set 1 | salamiyah
Processing Record 20 of Set 1 | geraldton
Processing Record 21 of Set 1 | mazagao
Processing Record 22 of Set 1 | medea
Processing Record 23 of Set 1 | tiksi
Processing Record 24 of Set 1 | busselton
No data for amderma found!
No data for artyk found!
Processing Record 27 of Set 1 | catuday
Processing Record 28 of Set 1 | naryan-mar
Processing Record 29 of Set 1 | longyearbyen
Processing Record 30 of Set 1 | nanortalik
Processing Record 31 of Set 1 | roma
Processing Record 32 of Set 1 | elko
Processing Record 33 of Set 1 | manaure
Processing Record 34 of Set 1 | souillac
Processing Record 35 of Set 1 | port elizabeth
Processing Record 36 of Set 1 | castro
Processing Record 37 of Set 1 | awjilah
Processing Record 38 of Set 1 | pisco
Processing Record 39 of Set 1 | dunedin
No data for taolanaro found!
Processing Record 41 of Set 1 | changtu
Processing Record 42 of Set 1 | kruisfontein
Processing Record 43 of Set 1 | azangaro
Processing Record 44 of Set 1 | namanyere
Processing Record 45 of Set 1 | beringovskiy
Processing Record 46 of Set 1 | khandbari
No data for tsihombe found!
Processing Record 48 of Set 1 | havoysund
Processing Record 49 of Set 1 | luderitz
Processing Record 50 of Set 1 | namatanai
Processing Record 51 of Set 1 | mahon
Processing Record 52 of Set 1 | tasiilaq
Processing Record 53 of Set 1 | bredasdorp
Processing Record 54 of Set 1 | maunabo
Processing Record 55 of Set 1 | bengkulu
Processing Record 56 of Set 1 | albany
Processing Record 57 of Set 1 | east london
Processing Record 58 of Set 1 | butaritari
Processing Record 59 of Set 1 | saldanha
Processing Record 60 of Set 1 | te anau
Processing Record 61 of Set 1 | hilo
Processing Record 62 of Set 1 | cape town
Processing Record 63 of Set 1 | arraial do cabo
Processing Record 64 of Set 1 | liverpool
Processing Record 65 of Set 1 | rikitea
Processing Record 66 of Set 1 | roald
Processing Record 67 of Set 1 | itoman
Processing Record 68 of Set 1 | konevo
Processing Record 69 of Set 1 | vao
Processing Record 70 of Set 1 | avarua
Processing Record 71 of Set 1 | ilulissat
Processing Record 72 of Set 1 | fare
Processing Record 73 of Set 1 | qaanaaq
Processing Record 74 of Set 1 | new norfolk
Processing Record 75 of Set 1 | brownwood
Processing Record 76 of Set 1 | khatanga
Processing Record 77 of Set 1 | shetpe
Processing Record 78 of Set 1 | seymchan
Processing Record 79 of Set 1 | laguna
Processing Record 80 of Set 1 | changji
Processing Record 81 of Set 1 | katsuura
Processing Record 82 of Set 1 | kaitangata
No data for phan rang found!
Processing Record 84 of Set 1 | chuy
Processing Record 85 of Set 1 | veracruz
Processing Record 86 of Set 1 | pevek
Processing Record 87 of Set 1 | high level
Processing Record 88 of Set 1 | sabha
Processing Record 89 of Set 1 | vaini
Processing Record 90 of Set 1 | jadu
Processing Record 91 of Set 1 | marienburg
Processing Record 92 of Set 1 | mahebourg
Processing Record 93 of Set 1 | westport
Processing Record 94 of Set 1 | tongchuan
No data for palabuhanratu found!
Processing Record 96 of Set 1 | tema
Processing Record 97 of Set 1 | khorixas
No data for samalaeulu found!
No data for marcona found!
Processing Record 100 of Set 1 | saint george
Processing Record 101 of Set 1 | yilan
Processing Record 102 of Set 1 | rabo de peixe
Processing Record 103 of Set 1 | thompson
Processing Record 104 of Set 1 | mar del plata
Processing Record 105 of Set 1 | cherskiy
Processing Record 106 of Set 1 | rangapara
No data for mizpe ramon found!
Processing Record 108 of Set 1 | broken hill
Processing Record 109 of Set 1 | tura
Processing Record 110 of Set 1 | srivardhan
Processing Record 111 of Set 1 | mataura
Processing Record 112 of Set 1 | launceston
Processing Record 113 of Set 1 | lata
Processing Record 114 of Set 1 | sao sebastiao
Processing Record 115 of Set 1 | broome
Processing Record 116 of Set 1 | rio grande city
Processing Record 117 of Set 1 | bentiu
Processing Record 118 of Set 1 | lagoa
Processing Record 119 of Set 1 | aklavik
Processing Record 120 of Set 1 | sur
No data for sentyabrskiy found!
Processing Record 122 of Set 1 | chapais
Processing Record 123 of Set 1 | saint-francois
Processing Record 124 of Set 1 | jaen
Processing Record 125 of Set 1 | karratha
Processing Record 126 of Set 1 | gbarnga
Processing Record 127 of Set 1 | diffa
Processing Record 128 of Set 1 | sorong
Processing Record 129 of Set 1 | nueva loja
Processing Record 130 of Set 1 | arica
Processing Record 131 of Set 1 | riyadh
Processing Record 132 of Set 1 | sitka
Processing Record 133 of Set 1 | hue
Processing Record 134 of Set 1 | ivanteyevka
Processing Record 135 of Set 1 | ingham
Processing Record 136 of Set 1 | vestmannaeyjar
Processing Record 137 of Set 1 | hvolsvollur
Processing Record 138 of Set 1 | necochea
No data for tidore found!
Processing Record 140 of Set 1 | katima mulilo
Processing Record 141 of Set 1 | hay river
Processing Record 142 of Set 1 | cherdyn
Processing Record 143 of Set 1 | skjervoy
Processing Record 144 of Set 1 | port hardy
Processing Record 145 of Set 1 | saint-philippe
Processing Record 146 of Set 1 | batemans bay
Processing Record 147 of Set 1 | hervey bay
Processing Record 148 of Set 1 | chokurdakh
Processing Record 149 of Set 1 | sidi ali
Processing Record 150 of Set 1 | los llanos de aridane
Processing Record 151 of Set 1 | ostrovnoy
No data for grand river south east found!
Processing Record 153 of Set 1 | alofi
Processing Record 154 of Set 1 | nikolskoye
Processing Record 155 of Set 1 | padang
Processing Record 156 of Set 1 | georgetown
Processing Record 157 of Set 1 | tuktoyaktuk
Processing Record 158 of Set 1 | shimanovsk
Processing Record 159 of Set 1 | kununurra
Processing Record 160 of Set 1 | jaciara
Processing Record 161 of Set 1 | lisakovsk
Processing Record 162 of Set 1 | sai buri
Processing Record 163 of Set 1 | kahului
Processing Record 164 of Set 1 | pitsunda
Processing Record 165 of Set 1 | nieves
Processing Record 166 of Set 1 | tuy hoa
Processing Record 167 of Set 1 | klaksvik
Processing Record 168 of Set 1 | ribeira grande
Processing Record 169 of Set 1 | lebu
Processing Record 170 of Set 1 | lorengau
Processing Record 171 of Set 1 | dikson
Processing Record 172 of Set 1 | yar-sale
Processing Record 173 of Set 1 | vanimo
Processing Record 174 of Set 1 | henties bay
Processing Record 175 of Set 1 | yerbogachen
Processing Record 176 of Set 1 | avera
Processing Record 177 of Set 1 | hambantota
Processing Record 178 of Set 1 | tomatlan
Processing Record 179 of Set 1 | coahuayana
Processing Record 180 of Set 1 | pearl
Processing Record 181 of Set 1 | puerto leguizamo
No data for vaitupu found!
Processing Record 183 of Set 1 | torbay
Processing Record 184 of Set 1 | toamasina
Processing Record 185 of Set 1 | kutum
Processing Record 186 of Set 1 | barra do corda
Processing Record 187 of Set 1 | wanning
Processing Record 188 of Set 1 | college
Processing Record 189 of Set 1 | atuona
No data for labutta found!
Processing Record 191 of Set 1 | marrakesh
Processing Record 192 of Set 1 | gravdal
Processing Record 193 of Set 1 | leshukonskoye
Processing Record 194 of Set 1 | hithadhoo
Processing Record 195 of Set 1 | lavrentiya
Processing Record 196 of Set 1 | colorado
Processing Record 197 of Set 1 | mount isa
No data for utiroa found!
Processing Record 199 of Set 1 | kavaratti
Processing Record 200 of Set 1 | barrow
Processing Record 201 of Set 1 | port macquarie

Processing Record 202 of Set 1 | elmira
Processing Record 203 of Set 1 | norman wells
Processing Record 204 of Set 1 | aktau
Processing Record 205 of Set 1 | thinadhoo
Processing Record 206 of Set 1 | belmonte
Processing Record 207 of Set 1 | thayetmyo
Processing Record 208 of Set 1 | kavieng
Processing Record 209 of Set 1 | deputatskiy
Processing Record 210 of Set 1 | port blair
No data for sindand found!
Processing Record 212 of Set 1 | jalu
No data for barentsburg found!
Processing Record 214 of Set 1 | leningradskiy
Processing Record 215 of Set 1 | qasigiannguit
Processing Record 216 of Set 1 | saint-augustin
Processing Record 217 of Set 1 | esperance
Processing Record 218 of Set 1 | athabasca
Processing Record 219 of Set 1 | palmer
Processing Record 220 of Set 1 | shimoda
Processing Record 221 of Set 1 | severo-kurilsk
Processing Record 222 of Set 1 | nanakuli
Processing Record 223 of Set 1 | berestechko
Processing Record 224 of Set 1 | yulara
Processing Record 225 of Set 1 | anadyr
No data for tumannyy found!
Processing Record 227 of Set 1 | sioux lookout
Processing Record 228 of Set 1 | nalut
Processing Record 229 of Set 1 | narsaq
Processing Record 230 of Set 1 | iranshahr
Processing Record 231 of Set 1 | port augusta
Processing Record 232 of Set 1 | vila franca do campo
Processing Record 233 of Set 1 | vardo
Processing Record 234 of Set 1 | alyangula
Processing Record 235 of Set 1 | poum
Processing Record 236 of Set 1 | kodiak
Processing Record 237 of Set 1 | trat
Processing Record 238 of Set 1 | yining
Processing Record 239 of Set 1 | petropavlovsk-kamchatskiy
Processing Record 240 of Set 1 | constitucion
Processing Record 241 of Set 1 | jaguaruna
Processing Record 242 of Set 1 | paita
Processing Record 243 of Set 1 | fortuna
Processing Record 244 of Set 1 | najran
Processing Record 245 of Set 1 | basqal
No data for lolua found!
Processing Record 247 of Set 1 | yamada
Processing Record 248 of Set 1 | olinda
Processing Record 249 of Set 1 | bambous virieux
Processing Record 250 of Set 1 | sohag
Processing Record 251 of Set 1 | hasaki
Processing Record 252 of Set 1 | villazon
Processing Record 253 of Set 1 | pereira barreto
Processing Record 254 of Set 1 | diu
Processing Record 255 of Set 1 | jamestown
Processing Record 256 of Set 1 | biltine
Processing Record 257 of Set 1 | solnechnyy
Processing Record 258 of Set 1 | kloulklubed
Processing Record 259 of Set 1 | salinopolis
Processing Record 260 of Set 1 | quatre cocos
Processing Record 261 of Set 1 | harnosand
Processing Record 262 of Set 1 | iqaluit
Processing Record 263 of Set 1 | saskylakh
Processing Record 264 of Set 1 | kieta
Processing Record 265 of Set 1 | malakal
Processing Record 266 of Set 1 | asau
Processing Record 267 of Set 1 | praya
Processing Record 268 of Set 1 | yumen
Processing Record 269 of Set 1 | finote selam
Processing Record 270 of Set 1 | talnakh
Processing Record 271 of Set 1 | betsiamites
Processing Record 272 of Set 1 | catamarca
Processing Record 273 of Set 1 | clyde river
Processing Record 274 of Set 1 | hede
Processing Record 275 of Set 1 | manokwari
Processing Record 276 of Set 1 | peniche
No data for belushya guba found!
Processing Record 278 of Set 1 | mackay
Processing Record 279 of Set 1 | bathsheba
Processing Record 280 of Set 1 | coihaique
Processing Record 281 of Set 1 | atamanovka
Processing Record 282 of Set 1 | airai
Processing Record 283 of Set 1 | cabo san lucas
Processing Record 284 of Set 1 | inuvik
Processing Record 285 of Set 1 | bethel
Processing Record 286 of Set 1 | santa cruz
Processing Record 287 of Set 1 | carnarvon
Processing Record 288 of Set 1 | riberalta
Processing Record 289 of Set 1 | namibe
Processing Record 290 of Set 1 | nemuro
Processing Record 291 of Set 1 | vila velha
Processing Record 292 of Set 1 | haines junction
Processing Record 293 of Set 1 | stevens point
Processing Record 294 of Set 1 | bontang
Processing Record 295 of Set 1 | kalmunai
Processing Record 296 of Set 1 | corner brook
Processing Record 297 of Set 1 | nouakchott
Processing Record 298 of Set 1 | provideniya
Processing Record 299 of Set 1 | sao joao da barra
Processing Record 300 of Set 1 | grindavik
Processing Record 301 of Set 1 | sao filipe
Processing Record 302 of Set 1 | ngunguru
Processing Record 303 of Set 1 | panguna
Processing Record 304 of Set 1 | ust-maya
Processing Record 305 of Set 1 | cidreira
Processing Record 306 of Set 1 | felipe carrillo puerto
Processing Record 307 of Set 1 | ouahigouya
Processing Record 308 of Set 1 | magadan
Processing Record 309 of Set 1 | mount pleasant
Processing Record 310 of Set 1 | nurota
No data for stilis found!
No data for mys shmidta found!
Processing Record 313 of Set 1 | goderich
Processing Record 314 of Set 1 | taranagar
Processing Record 315 of Set 1 | shubarshi
Processing Record 316 of Set 1 | rocha
No data for babanusah found!
Processing Record 318 of Set 1 | sibolga
Processing Record 319 of Set 1 | port-cartier
Processing Record 320 of Set 1 | faanui
Processing Record 321 of Set 1 | lamu
Processing Record 322 of Set 1 | tocopilla
No data for nizhneyansk found!
Processing Record 324 of Set 1 | seoul
Processing Record 325 of Set 1 | khandyga
No data for ayios matthaios found!
Processing Record 327 of Set 1 | umm lajj
Processing Record 328 of Set 1 | lompoc
Processing Record 329 of Set 1 | srednekolymsk
Processing Record 330 of Set 1 | mount gambier
No data for attawapiskat found!
Processing Record 332 of Set 1 | qui nhon
Processing Record 333 of Set 1 | okato
Processing Record 334 of Set 1 | koping
Processing Record 335 of Set 1 | comodoro rivadavia
Processing Record 336 of Set 1 | martapura
Processing Record 337 of Set 1 | la rioja
Processing Record 338 of Set 1 | touros
Processing Record 339 of Set 1 | eydhafushi
Processing Record 340 of Set 1 | saiha
Processing Record 341 of Set 1 | yabelo
Processing Record 342 of Set 1 | celestun
Processing Record 343 of Set 1 | yingcheng
Processing Record 344 of Set 1 | saint anthony
Processing Record 345 of Set 1 | coquimbo
Processing Record 346 of Set 1 | ken caryl
Processing Record 347 of Set 1 | agadez
Processing Record 348 of Set 1 | sao felix do xingu
Processing Record 349 of Set 1 | rio grande
Processing Record 350 of Set 1 | ambilobe
Processing Record 351 of Set 1 | zyryanovsk
Processing Record 352 of Set 1 | mopti
Processing Record 353 of Set 1 | adet
Processing Record 354 of Set 1 | genhe
Processing Record 355 of Set 1 | abu dhabi
Processing Record 356 of Set 1 | ormara
Processing Record 357 of Set 1 | callaway
Processing Record 358 of Set 1 | fairbanks
No data for yithion found!
Processing Record 360 of Set 1 | tuatapere
Processing Record 361 of Set 1 | yueyang
Processing Record 362 of Set 1 | teguldet
Processing Record 363 of Set 1 | itaituba
Processing Record 364 of Set 1 | kerrville
Processing Record 365 of Set 1 | klyuchi
Processing Record 366 of Set 1 | bukachacha
Processing Record 367 of Set 1 | xining
No data for tasbuget found!
Processing Record 369 of Set 1 | aden
Processing Record 370 of Set 1 | makakilo city
Processing Record 371 of Set 1 | meadow lake
Processing Record 372 of Set 1 | mananjary
No data for saleaula found!
Processing Record 374 of Set 1 | kerman
Processing Record 375 of Set 1 | balkanabat
Processing Record 376 of Set 1 | poladpur
Processing Record 377 of Set 1 | mariveles
Processing Record 378 of Set 1 | port hawkesbury
Processing Record 379 of Set 1 | sahuaripa
Processing Record 380 of Set 1 | sonderso
Processing Record 381 of Set 1 | kirksville
Processing Record 382 of Set 1 | saveh
Processing Record 383 of Set 1 | pachino
Processing Record 384 of Set 1 | ginir
Processing Record 385 of Set 1 | kibre mengist
Processing Record 386 of Set 1 | vanino
Processing Record 387 of Set 1 | sola
Processing Record 388 of Set 1 | san patricio
Processing Record 389 of Set 1 | isangel
No data for nguiu found!
Processing Record 391 of Set 1 | sinjar
Processing Record 392 of Set 1 | gornopravdinsk
Processing Record 393 of Set 1 | victoria
Processing Record 394 of Set 1 | upata
Processing Record 395 of Set 1 | awbari
No data for taburi found!
Processing Record 397 of Set 1 | hofn
Processing Record 398 of Set 1 | campo de criptana
Processing Record 399 of Set 1 | birao

Processing Record 400 of Set 1 | talcahuano
Processing Record 401 of Set 1 | adrar
Processing Record 402 of Set 1 | rawlins
Processing Record 403 of Set 1 | ulladulla
Processing Record 404 of Set 1 | nizwa
Processing Record 405 of Set 1 | jacqueville
Processing Record 406 of Set 1 | tautira
Processing Record 407 of Set 1 | ouadda
Processing Record 408 of Set 1 | zabol
Processing Record 409 of Set 1 | kristinehamn
Processing Record 410 of Set 1 | bemidji
Processing Record 411 of Set 1 | salalah
Processing Record 412 of Set 1 | aswan
Processing Record 413 of Set 1 | portland
No data for podbelsk found!
Processing Record 415 of Set 1 | acandi
Processing Record 416 of Set 1 | uporovo
Processing Record 417 of Set 1 | toora-khem
Processing Record 418 of Set 1 | taree
Processing Record 419 of Set 1 | kothapet
Processing Record 420 of Set 1 | copperas cove
Processing Record 421 of Set 1 | kaeo
Processing Record 422 of Set 1 | zhigansk
Processing Record 423 of Set 1 | sept-iles
Processing Record 424 of Set 1 | hualmay
Processing Record 425 of Set 1 | satuk
Processing Record 426 of Set 1 | ponta do sol
Processing Record 427 of Set 1 | gulu
Processing Record 428 of Set 1 | innisfail
Processing Record 429 of Set 1 | ardakan
Processing Record 430 of Set 1 | berbera
Processing Record 431 of Set 1 | bubaque
Processing Record 432 of Set 1 | atbasar
Processing Record 433 of Set 1 | gamba
Processing Record 434 of Set 1 | luncavita
Processing Record 435 of Set 1 | zaozerne
No data for lar gerd found!
Processing Record 437 of Set 1 | pangnirtung
Processing Record 438 of Set 1 | simao
Processing Record 439 of Set 1 | codrington
Processing Record 440 of Set 1 | alto araguaia
Processing Record 441 of Set 1 | bonavista
Processing Record 442 of Set 1 | gurupi
Processing Record 443 of Set 1 | saint-pierre
Processing Record 444 of Set 1 | leh
Processing Record 445 of Set 1 | dryden
Processing Record 446 of Set 1 | kamenka
Processing Record 447 of Set 1 | san jeronimo
Processing Record 448 of Set 1 | nagareyama
Processing Record 449 of Set 1 | acajutla
Processing Record 450 of Set 1 | marang
Processing Record 451 of Set 1 | stovring
Processing Record 452 of Set 1 | campo maior
Processing Record 453 of Set 1 | cleves
Processing Record 454 of Set 1 | eatonton
Processing Record 455 of Set 1 | port lincoln
Processing Record 456 of Set 1 | kualakapuas
Processing Record 457 of Set 1 | gorontalo
Processing Record 458 of Set 1 | saint-georges
Processing Record 459 of Set 1 | guerrero negro
Processing Record 460 of Set 1 | boshnyakovo
Processing Record 461 of Set 1 | wanaka
Processing Record 462 of Set 1 | toktogul
Processing Record 463 of Set 1 | camana
Processing Record 464 of Set 1 | bethanien
Processing Record 465 of Set 1 | polonnaruwa
Processing Record 466 of Set 1 | guiratinga
Processing Record 467 of Set 1 | kushmurun
Processing Record 468 of Set 1 | balakhta
Processing Record 469 of Set 1 | maldonado
Processing Record 470 of Set 1 | messina
Processing Record 471 of Set 1 | dudinka
Processing Record 472 of Set 1 | tobati
Processing Record 473 of Set 1 | hesla
Processing Record 474 of Set 1 | fengcheng
Processing Record 475 of Set 1 | korla
Processing Record 476 of Set 1 | beloha
Processing Record 477 of Set 1 | mogadishu
Processing Record 478 of Set 1 | hemsedal
Processing Record 479 of Set 1 | bhatapara
Processing Record 480 of Set 1 | bara
Processing Record 481 of Set 1 | sabang
Processing Record 482 of Set 1 | vernesti
Processing Record 483 of Set 1 | zacualtipan
Processing Record 484 of Set 1 | nioro
No data for umzimvubu found!
Processing Record 486 of Set 1 | mahibadhoo
Processing Record 487 of Set 1 | dakar
Processing Record 488 of Set 1 | high rock
Processing Record 489 of Set 1 | nizhniy kuranakh
Processing Record 490 of Set 1 | monywa
No data for ngukurr found!
Processing Record 492 of Set 1 | dedza
Processing Record 493 of Set 1 | aykhal
Processing Record 494 of Set 1 | zabaykalsk
Processing Record 495 of Set 1 | alta floresta
No data for karaul found!
Processing Record 497 of Set 1 | agadir
Processing Record 498 of Set 1 | palauig
Processing Record 499 of Set 1 | aitape
Processing Record 500 of Set 1 | miles city
Processing Record 501 of Set 1 | llangefni
Processing Record 502 of Set 1 | kollam
Processing Record 503 of Set 1 | ojinaga
Processing Record 504 of Set 1 | eyl
Processing Record 505 of Set 1 | samarai
Processing Record 506 of Set 1 | bandarbeyla
Processing Record 507 of Set 1 | lethem
Processing Record 508 of Set 1 | florianopolis
Processing Record 509 of Set 1 | baglan
Processing Record 510 of Set 1 | kudahuvadhoo
Processing Record 511 of Set 1 | tananger
No data for louisbourg found!
Processing Record 513 of Set 1 | emborion
Processing Record 514 of Set 1 | poronaysk
Processing Record 515 of Set 1 | limulunga
Processing Record 516 of Set 1 | dingle
Processing Record 517 of Set 1 | oussouye
Processing Record 518 of Set 1 | french harbor
Processing Record 519 of Set 1 | naze
Processing Record 520 of Set 1 | wolfen
Processing Record 521 of Set 1 | savonlinna
Processing Record 522 of Set 1 | waipawa
Processing Record 523 of Set 1 | faya
Processing Record 524 of Set 1 | sainte-maxime
Processing Record 525 of Set 1 | olot
Processing Record 526 of Set 1 | ondangwa
Processing Record 527 of Set 1 | loa janan
Processing Record 528 of Set 1 | itarema
Processing Record 529 of Set 1 | labuhan
Processing Record 530 of Set 1 | san quintin
Processing Record 531 of Set 1 | svay rieng
Processing Record 532 of Set 1 | udachnyy
Processing Record 533 of Set 1 | hurghada
Processing Record 534 of Set 1 | pipri
Processing Record 535 of Set 1 | muroto
Processing Record 536 of Set 1 | marsh harbour
Processing Record 537 of Set 1 | uray
Processing Record 538 of Set 1 | whitehorse
Processing Record 539 of Set 1 | poya
Processing Record 540 of Set 1 | filadelfia
Processing Record 541 of Set 1 | amahai
Processing Record 542 of Set 1 | northampton
Processing Record 543 of Set 1 | pontianak
No data for halalo found!
Processing Record 545 of Set 1 | general roca
Processing Record 546 of Set 1 | nichinan
Processing Record 547 of Set 1 | terre-de-bas
Processing Record 548 of Set 1 | abu zabad
No data for hebertville found!
Processing Record 550 of Set 1 | bom jesus da lapa
Processing Record 551 of Set 1 | luban
Processing Record 552 of Set 1 | tecoanapa
Processing Record 553 of Set 1 | kushima
Processing Record 554 of Set 1 | evensk
Processing Record 555 of Set 1 | puerto quijarro
Processing Record 556 of Set 1 | karakol
Processing Record 557 of Set 1 | golden
No data for tubruq found!
Processing Record 559 of Set 1 | killybegs
Processing Record 560 of Set 1 | traverse city
Processing Record 561 of Set 1 | ahipara
Processing Record 562 of Set 1 | santa maria
Processing Record 563 of Set 1 | el alto
Processing Record 564 of Set 1 | ancud
Processing Record 565 of Set 1 | huilong
Processing Record 566 of Set 1 | acapulco
Processing Record 567 of Set 1 | montepuez
Processing Record 568 of Set 1 | rehoboth
Processing Record 569 of Set 1 | gupitan
Processing Record 570 of Set 1 | hamilton
Processing Record 571 of Set 1 | plouzane
Processing Record 572 of Set 1 | mnichovo hradiste
Processing Record 573 of Set 1 | rodrigues alves
Processing Record 574 of Set 1 | tando muhammad khan
Processing Record 575 of Set 1 | lardos
Processing Record 576 of Set 1 | singaparna
Processing Record 577 of Set 1 | flin flon
Processing Record 578 of Set 1 | grand forks
Processing Record 579 of Set 1 | whitecourt
Processing Record 580 of Set 1 | cordoba
Processing Record 581 of Set 1 | gorin
Processing Record 582 of Set 1 | buchanan
Processing Record 583 of Set 1 | syracuse
Processing Record 584 of Set 1 | luanda

In [6]:
cities_pd.head()

               City
0          Okmulgee
1      Punta Arenas
2  Sault Ste. Marie
3      Puerto Ayora
4         Rovaniemi

In [7]:
#adding columns to df
cities_pd['Lat'] = ''
cities_pd['Lng'] = ''
cities_pd['Max Temp'] = ''
cities_pd['Humidity'] = ''
cities_pd['Cloudiness'] = ''
cities_pd['Wind Speed'] = ''
cities_pd['Country'] = ''
cities_pd['Date'] = ''
cities_pd.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Okmulgee,,,,,,,,
1,Punta Arenas,,,,,,,,
2,Sault Ste. Marie,,,,,,,,
3,Puerto Ayora,,,,,,,,
4,Rovaniemi,,,,,,,,

In [8]:
# populate the added columns
for index, row in cities_pd.iterrows():
    city = row['City']
    target_url = ('http://api.openweathermap.org/data/2.5/weather?q={0}&appid={1}&units=imperial').format(city, weather_api_key)
    response = requests.get(target_url).json()
    time.sleep(1)
    try:
        cities_pd.loc[index, 'Lat'] = response['coord']['lat']
        cities_pd.loc[index, 'Lng'] = response['coord']['lon']
        cities_pd.loc[index, 'Max Temp'] = response['main']['temp_max']
        cities_pd.loc[index, 'Humidity'] = response['main']['humidity']
        cities_pd.loc[index, 'Cloudiness'] = response['clouds']['all']
        cities_pd.loc[index, 'Wind Speed'] = response['wind']['speed']
        cities_pd.loc[index, 'Country'] = response['sys']['country']
        cities_pd.loc[index, 'Date'] = response['dt']
    except(KeyError):
        print('shucks... no luck')

In [10]:
# Convert data in columns to floats
cities_pd.dtypes
cities_pd['Lat'] = cities_pd['Lat'].astype(float)
cities_pd['Lng'] = cities_pd['Lng'].astype(float)
cities_pd['Max Temp'] = cities_pd['Max Temp'].astype(float)
cities_pd['Humidity'] = cities_pd['Humidity'].astype(float)
cities_pd['Cloudiness'] = cities_pd['Cloudiness'].astype(float)
cities_pd['Wind Speed'] = cities_pd['Wind Speed'].astype(float)
cities_pd['Date'] = cities_pd['Date'].astype(float)


cities_pd.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Okmulgee,35.62,-95.96,57.2,100.0,90.0,8.05,US,1.605358e+09
1,Punta Arenas,-53.15,-70.92,41.0,63.0,75.0,20.80,CL,1.605359e+09
2,Sault Ste. Marie,46.52,-84.33,30.2,74.0,90.0,4.70,CA,1.605359e+09
3,Puerto Ayora,-0.74,-90.35,70.0,85.0,98.0,5.01,EC,1.605359e+09
4,Rovaniemi,66.50,25.72,33.8,100.0,90.0,9.17,FI,1.605359e+09

In [11]:
# Use describe to check for irregularities (such as humidity exceeding 100%)
cities_pd.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,543.000000,543.000000,543.000000,543.000000,543.000000,543.000000,5.430000e+02
mean,19.595543,19.344991,58.596390,72.127072,51.016575,8.082762,1.605359e+09
std,32.736671,90.987349,25.692047,20.861087,41.283621,5.186658,1.937070e+02
min,-54.800000,-175.200000,-22.000000,9.000000,0.000000,0.510000,1.605358e+09
25%,-6.270000,-62.075000,41.000000,62.000000,1.000000,4.195000,1.605359e+09
50%,22.930000,22.400000,66.200000,77.000000,59.000000,6.930000,1.605359e+09
75%,45.570000,100.660000,79.215000,88.000000,90.000000,11.065000,1.605359e+09
max,78.220000,179.320000,97.360000,100.000000,100.000000,28.860000,1.605359e+09

In [13]:

# Save dataframe to csv
cities_pd.to_csv('../city_weather_data.csv', index=False, mode='w')

In [14]:
#Inspect the data and remove the cities where the humidity > 100%.
#Skipping this step as there are not cities with humidity >100%

In [16]:
# Load data from csv (no need to re-run API calls)
df = pd.read_csv('../city_weather_data.csv')
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Okmulgee,35.62,-95.96,57.2,100.0,90.0,8.05,US,1.605358e+09
1,Punta Arenas,-53.15,-70.92,41.0,63.0,75.0,20.80,CL,1.605359e+09
2,Sault Ste. Marie,46.52,-84.33,30.2,74.0,90.0,4.70,CA,1.605359e+09
3,Puerto Ayora,-0.74,-90.35,70.0,85.0,98.0,5.01,EC,1.605359e+09
4,Rovaniemi,66.50,25.72,33.8,100.0,90.0,9.17,FI,1.605359e+09